@import "~variables.scss";

.primary-container {
    background-color: $header-background-color-light;
    height: 62px;
    border-bottom: $header-lower-border;
}

.logo {
    max-height: 40px;
    margin: 3px 0px -4px 5px;
}

.list-item + .current-item {
    background-color: white;
    color: red;
}