@import "~variables.scss";

.primary-container {
    background-color: $header-background-color-light;
    height: 60px;
    border-bottom: $header-lower-border;
}

.logo {
    max-height: 39px;
    margin: 3px 0px -4px 5px;
}