@import "~variables.scss";

.tab {
    display: inline-block;
    background-color: #EFF7FF;

    a, a:visited {
        padding: 1px 3.5px;
        margin: 0 1.25px;
        font: 600 12px $header-tab-font-family;
        color: #336699;
        text-decoration: none;
    }
}
